.main {
  display: flex;
  flex-direction: column;
}

.main .main__title {
  text-transform: capitalize;
  text-align: center;
}

.main .main__table {
  border-spacing: 0;
  width: 100%;
}

.main .main__column-header {
  padding: 1em;
  text-align: left;
}

.main .main__row:nth-child(even) {
  background-color: #bfc8eb;
}

.main .main__column-content {
  padding: 1em;
}

.main .main__column-content--active {
  font-size: 1rem;
  font-weight: bold;
  color: #1565c0;
}

.main .fa-star {
  color: #ffc400;
}

@media (max-width: 767px) {
  .main {
    height: 100vh;
  }

  .main .main__table-container {
    max-height: 600px;
    overflow-y: auto;
  }

  .main .main__header {
    display: none;
  }

  .main .main__row {
    display: flex;
    flex-direction: column;
  }
}
